.container{
  display: flex;
  justify-content: center;
}

.mb-3{
  width: 350px;
}

#green_border{background-color: rgb(239, 238, 238);
border: 7px solid rgb(72, 255, 0);
display: block;
text-align: center;
margin: 5px;
padding: 50px;
}

#red_border{
border: 7px solid red;
margin: 10px 20px 0 0;
padding: 20px 150px; 
}

#blue_border{
border: 7px solid blue;
width: 710px;
margin: 10px 0 0 20px;
/* padding: 0 100px 10px; */
}

#magenta_border{
  border: 7px solid magenta;
  margin: 10px;
    text-align: center;
}
#yellow_border{    
  border: 7px solid yellow;
  margin: 10px;
  padding: 20px 0 550px;
}



